In [45]:
import numpy as np
#cos유사도 구하기
def cosSim(doc, query):
    cosSim = float(np.dot(doc, query)) / (np.linalg.norm(doc) * np.linalg.norm(query))
    return cosSim

docs = np.array([[1, 1, 0, 1, 0, 1], [1, 1, 1, 0, 1, 0], [1, 1, 0, 1, 0, 0]])
query = np.array([1, 1, 0, 0, 1, 0])

for i in range(len(docs)):
    print(f'Doc{i + 1} 과 query의 cos유사도 : {cosSim(docs[i], query)}')

Doc1 과 query의 cos유사도 : 0.5773502691896258
Doc2 과 query의 cos유사도 : 0.8660254037844387
Doc3 과 query의 cos유사도 : 0.6666666666666667

In [38]:
import pandas as pd
import numpy as np

# 단가와 개수로 이루어진 데이터 프레임 생성
data = np.array([[1000, 25], [280, 120], [900, 30]])
df = pd.DataFrame(data, index = ['store1', 'store2', 'store3'], columns = ['unit price', 'number'])
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [39]:
# 단가와 개수를 곱한 총 가격이 추가된 데이터 프레임 생성
df['total price'] = df['unit price'] * df['number']
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [40]:
# 총 가격이 가장 비싼 가계 출력
df = df[df['total price'] == np.max(df['total price'])]
df

        unit price  number  total price
store2         280     120        33600